.ListeDossiers {
    margin: 50px;

    .ul-dossiers {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        margin: 0;
        padding: 0;
    }
}